# Ignore les fichiers et dossiers Jupyter Notebook
*.ipynb
**/.ipynb_checkpoints

# Ignore les dossiers
__pycache__/
.vscode/
.idea/
*.pyc
*.pyo
*.pyd

# Ignore les dossiers spécifiques
HV/
TOHAPI/
DATA/
